html, body, section, .full-height {
    height: 97%;
}

#raw-pad {
    font-family: Menlo, Monaco, Inconsolata, "Courier New", monospace;

    border-top: 1px solid black;
    border-left: none;
    /* what happens if content overflows the box */
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#markdown {
    overflow: auto;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}